body {
    display: flex;
    justify-content: center;
    background-color: rgba(21, 21, 21, 0.56);
}

.content {
    width: 250px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}

.description{
    padding-bottom: 22px;
    font-size: 19px;
    font-weight: bold;
}

.input{
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    padding: 14px 0;
    font-size: 17px;
    font-weight: 450;
    line-height: 24px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #b9bfc7;
    color: #212121;
}

input::placeholder{
    color: #a6acb7;
    padding: 8px;
}

.label {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    color: #707781;
}

.actions {
    display: flex;
    gap: 12px;
    padding-top: 22px;
}

.button {
    flex: 1;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    padding-top: 8px;
}

.canсel{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    border: none;
    user-select: none;
    border-radius: 100px;
    color: #707781;
    font-size: 19px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
    background-color: #edf1f5;
}

.button.canсel:hover {
    background: #dde2e9;
}

.accept{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    border: none;
    user-select: none;
    border-radius: 100px;
    font-size: 19px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
    background: #212121;
    color: #fff;
}

.accept:not(:disabled):hover {
    background: #51565c;
}

.accept:disabled {
    background: #aaa;
    cursor: not-allowed;
}
